<div class="container" >
    <div class="row">
    <div class="col-md-4">
        <%= image_tag ("default_dog.png"), class: 'img-thumbnail' %>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ab ad, aspernatur provident sint ut recusandae esse, aliquam commodi maxime consectetur corporis. Odio accusantium minima corrupti debitis velit ducimus? Magni.</p>
    </div>
    <div class="col-md-4">
        <%= image_tag ("default_dog.png"), class: 'img-thumbnail' %>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ab ad, aspernatur provident sint ut recusandae esse, aliquam commodi maxime consectetur corporis. Odio accusantium minima corrupti debitis velit ducimus? Magni.</p>
    </div>
    <div class="col-md-4">
        <%= image_tag ("default_dog.png"), class: 'img-thumbnail' %>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ab ad, aspernatur provident sint ut recusandae esse, aliquam commodi maxime consectetur corporis. Odio accusantium minima corrupti debitis velit ducimus? Magni.</p>
    </div>
    </div>
</div>